.idea/
/.composer/
/auth.json
/my.env
/public/phpinfo.php
/public/opcache.php
/supervisor/log/*
!/supervisor/log/.gitkeep
/cron/log/*
!/cron/log/.gitkeep
/pki/private/*
!/pki/private/.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
/.php-cs-fixer.cache
/phpcs.xml.dist
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
/.phpunit.result.cache
###< symfony/phpunit-bridge ###
